
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.overview {
    background-color: #759BA4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .phone-list {
        display: flex;
        flex-direction: row;

        .filters {
            margin-right: 20px;

            .checkboxes {
                display: flex;
                flex-direction: column;
            }
        }
    }

    .test-list {
        display: flex;
        flex-direction: column;

        .phones {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            .phone {
                margin-right: 20px;
                max-width: 300px;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;

                .mat-chip-list {
                    margin-bottom: 10px;
                }
            }
        }
    }
}


