<div class="overview">
    <mat-toolbar class="shop-toolbar">Alle telefoons</mat-toolbar>

    <div class="phone-list" *ngIf="($brands || $operatingSystem)">
        <div class="filters">
            <mat-toolbar class="shop-toolbar">Filters</mat-toolbar>
            <mat-accordion>
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Merken
                        </mat-panel-title>
                        <mat-panel-description>
                            bv. Apple, Samsung
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="checkboxes">
                        <mat-checkbox
                            *ngFor="let brand of $brands | async"
                            (change)="this.$handleBrands.next($event)"
                            [value]="brand.name">
                            {{brand.name}}
                        </mat-checkbox>
                    </div>
                </mat-expansion-panel>


                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Besturingssysteem
                        </mat-panel-title>
                        <mat-panel-description>
                            bv. Android
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="checkboxes">
                        <mat-checkbox
                            *ngFor="let os of $operatingSystem | async"
                            (change)="this.$handleOperatingSystem.next($event)"
                            [value]="os.name">
                            {{os.name}}
                        </mat-checkbox>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="test-list">
            <mat-toolbar class="shop-toolbar">Telefoons</mat-toolbar>
            <div class="phones" *ngIf="($phonesSubject | async) as phones; else loading">

                <mat-card *ngFor="let phone of phones" class="phone"
                          [routerLink]="['product', fixUrl(phone.title),  phone.id]">

                    <mat-card-header>
                        <mat-card-title>{{phone.title}}</mat-card-title>
                        <mat-card-subtitle>{{phone.subtitle}}</mat-card-subtitle>
                    </mat-card-header>

                    <img mat-card-image src="{{phone.img}}" alt="{{phone.title}}">

                    <mat-chip-list>
                        <mat-chip *ngFor="let color of phone.colors"
                                  [ngStyle]="{backgroundColor: color.color}">{{color.color}}</mat-chip>
                    </mat-chip-list>

                    <mat-card-content>
                        <h3>€ 46,50</h3>
                        <p>Bijbetaling toestel € 59,00 excl. eenmalige kosten 5 GB + 120 min. bellen</p>
                    </mat-card-content>

                    <mat-card-actions>
                        <button mat-flat-button color="primary">Kiezen</button>
                    </mat-card-actions>
                </mat-card>

            </div>
            <ng-template #loading>
                <mat-spinner></mat-spinner>
            </ng-template>
        </div>
    </div>

</div>
