<div class="overview">
    <mat-toolbar class="shop-toolbar">Alle telefoons</mat-toolbar>

    <div class="phone-list">
        <div class="filters">
            <mat-toolbar class="shop-toolbar">Filters</mat-toolbar>
            <mat-accordion>
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Merken
                        </mat-panel-title>
                        <mat-panel-description>
                            bv. Apple, Samsung
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="checkboxes">
                        <mat-checkbox
                            *ngFor="let brand of brands$ | async"
                            (change)="this.$handleBrands.next($event)"
                            [value]="brand.name">
                            {{brand.name}}
                        </mat-checkbox>
                    </div>
                </mat-expansion-panel>


                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Besturingssysteem
                        </mat-panel-title>
                        <mat-panel-description>
                            bv. Android
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="checkboxes">
                        <mat-checkbox
                            *ngFor="let os of operatingSystems$ | async"
                            (change)="this.$handleOperatingSystem.next($event)"
                            [value]="os.name">
                            {{os.name}}
                        </mat-checkbox>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="test-list">
            <mat-toolbar class="shop-toolbar">Telefoons</mat-toolbar>
            <div class="phones" *ngIf="(phones$ | async) as phones; else loading">

                <mat-card *ngFor="let phone of phones" class="phone"
                          [routerLink]="['product', fixUrl(phone.brand + phone.model),  phone.id]">
                    <mat-card-header></mat-card-header>

                    <img mat-card-image src="{{phone.images.front}}" alt="Front">

                    <mat-chip-list>
                        <mat-chip *ngFor="let color of phone.colors"
                                  [ngStyle]="{backgroundColor: color.color}"></mat-chip>
                    </mat-chip-list>

                    <mat-card-header>
                        <mat-card-title>{{phone.brand}}</mat-card-title>
                        <mat-card-subtitle>{{phone.model}} {{phone.storage}}</mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content>
                        <h2 class="mat-body-strong">{{48.00 | currency}} a month</h2>
                        <p class="mat-caption">Bijbetaling toestel € 59,00 excl. eenmalige kosten 5 GB + 120 min.
                            bellen</p>
                    </mat-card-content>
                </mat-card>

            </div>
            <ng-template #loading>
                <mat-spinner></mat-spinner>
            </ng-template>
        </div>
    </div>

</div>
