<mat-accordion class="example-headers-align">
    <form (ngSubmit)="onSubmit()" [formGroup]="customerDetails">
        <mat-expansion-panel [expanded]="true" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Personal details
                </mat-panel-title>
            </mat-expansion-panel-header>

            <h2>Type order</h2>
            <mat-radio-group formControlName="typeOrder" ngDefaultControl>
                <mat-radio-button value="consumer">Consumer</mat-radio-button>
                <mat-radio-button value="business">Business</mat-radio-button>
            </mat-radio-group>

            <mat-divider></mat-divider>

            <h2>Your details</h2>
            <mat-radio-group formControlName="gender" ngDefaultControl>
                <mat-radio-button value="Mr.">Mr.</mat-radio-button>
                <mat-radio-button value="Mrs.">Mrs.</mat-radio-button>
            </mat-radio-group>

            <mat-divider></mat-divider>

            <mat-form-field>
                <input formControlName="firstName" matInput placeholder="First name">
            </mat-form-field>
            <mat-form-field>
                <input formControlName="lastName" matInput placeholder="Last name">
            </mat-form-field>

            <div class="dob" formGroupName="dob">
                <mat-form-field>
                    <input formControlName="day" matInput placeholder="DD">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="month" matInput placeholder="MM">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="year" matInput placeholder="YYYY">
                </mat-form-field>
            </div>

            <mat-form-field>
                <input formControlName="mobile" matInput placeholder="Phone number">
            </mat-form-field>

            <mat-form-field>
                <input formControlName="email" matInput placeholder="Email">
            </mat-form-field>

            <div class="address" formGroupName="address">
                <mat-form-field>
                    <input formControlName="zipcode" matInput placeholder="Zipcode">
                </mat-form-field>

                <mat-form-field>
                    <input formControlName="houseNumber" matInput placeholder="Number">
                </mat-form-field>

                <mat-form-field>
                    <input formControlName="street" matInput placeholder="Street">
                </mat-form-field>

                <mat-form-field>
                    <input formControlName="state" matInput placeholder="State">
                </mat-form-field>

                <mat-form-field>
                    <input formControlName="city" matInput placeholder="City">
                </mat-form-field>

            </div>

            <mat-action-row>
                <button (click)="nextStep()" color="primary" mat-button>Next</button>
            </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="setStep(1)" [expanded]="step === 1" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Delivery or Collect
                </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-radio-group>
                <mat-radio-button value="delivery">Delivery</mat-radio-button>
                <mat-radio-button value="collect">Collect</mat-radio-button>

            </mat-radio-group>

            <mat-action-row>
                <button (click)="prevStep()" color="warn" mat-button>Previous</button>
                <button (click)="nextStep()" color="primary" mat-button>Next</button>
            </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="setStep(2)" [expanded]="step === 2" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Confirm
                </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-form-field>
                <input (focus)="picker.open()" [matDatepicker]="picker" matInput placeholder="Date" readonly>
            </mat-form-field>
            <mat-datepicker #picker></mat-datepicker>

            <mat-action-row>
                <button (click)="prevStep()" color="warn" mat-button>Previous</button>
                <button (click)="nextStep()" color="primary" mat-button>End</button>
            </mat-action-row>
        </mat-expansion-panel>
    </form>
</mat-accordion>
