.detail {
    background-color: #759BA4;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .choices {
        h2 {
            margin-top: 0;
        }

        .dkwoa {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;

            .mat-radio-button {

                .price {
                    margin-left: 10px;
                }

                &:not(:last-child) {
                    margin-right: 0;
                    margin-bottom: 10px;
                }
            }
        }

        .mat-radio-button {
            padding: 10px 20px;
            border: 1px solid red;
            border-radius: 3%;

            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }

    .receipt {
        .views {
            margin: 20px 0;
            display: flex;
            flex-direction: row;
            justify-content: center;

            button {
                padding-top: 20px;
                padding-bottom: 20px;

                img {
                    height: 50px;
                    width: auto;;
                }

                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }

        .color-options {
            margin-bottom: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .mat-card {

            .mat-card-content {

                .mat-card-title {
                    &.one-time-costs {
                        margin-top: 20px;
                    }
                }
                .section {
                    padding: 10px 0;

                    .row {
                        padding: 5px 0;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    }
                }

            }
        }

    }
}

.mat-spinner {
    align-self: center;
}
