.promo-section {
    align-items: center;
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;

    button {
        margin: 0 20px;
    }
}

.banner {
    display: flex;
}

.background {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .mat-list-base {
        flex: 1;
        padding: 30px;
    }
}
