/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:focus {
    outline: none !important;
}

html, body {
    height: 100%;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6, .mat-card-title, .mat-toolbar {
    font-weight: 300;
}

app-csv-upload {
    align-items: center;
    display: flex;
    height: calc(100% - 79px - 50px);
    justify-content: center;
}

.test {
    color: red;
    &.test2 {
        color: blue;
    }
}
