.overview {
    align-items: flex-start;
    background-color: #759BA4;
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex: 1;

    .phone-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;

        .filters {
            margin-right: 20px;
            flex: 1;

            .checkboxes {
                display: flex;
                flex-direction: column;
            }
        }
    }

    .test-list {
        display: flex;
        flex-direction: column;
        flex: 7;

        .phones {
            display: flex;
            flex-direction: row;

            .phone {
                align-items: center;
                display: flex;
                flex-direction: column;
                margin-right: 20px;
                max-width: 300px;
                text-align: center;

                .mat-card-image {
                    max-height: 300px;
                    width: auto;
                }

                .mat-chip-list {
                    margin-bottom: 10px;
                }
            }
        }
    }
}


