.main {
    padding: 20px;
    max-width: 1540px;
    margin-right: auto;
    margin-left: auto;
}

.main1 {
    background-color: #2aa198;
}

h2 {
    color: darkgray;
    margin-top: 20px;
}

.mat-toolbar {

}

.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.projects {

    .mat-card {
        width: 400px;
        margin: 20px 0;

        .mat-card-avatar {
            height: 40px;
            width: 40px;
            border-radius: 0;
            object-fit: contain;
            flex-shrink: 0;
        }

        .mat-list {
            .mat-list-item {
                font-size: 14px;
            }
        }

        .mat-card-content {
            margin-top: 16px;
        }
    }
}
