h2 {
    color: darkgray;
    margin-top: 20px;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .mat-card {
        width: 400px;
        margin: 20px 0;

        .mat-card-avatar {
            height: 40px;
            width: 40px;
            border-radius: 0;
            object-fit: contain;
            flex-shrink: 0;
        }

        .mat-list {
            .mat-list-item {
                font-size: 14px;
            }
        }

        .mat-card-content {
            margin-top: 16px;
        }
    }
}
