/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    height: 100%;
}

app-root {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #759BA4;
}

app-home {
    background-color: #2aa198;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6, .mat-card-title, .mat-toolbar, .mat-toolbar > h6 {
    font-weight: 300;
}
